.bungee-regular {
	font-family: "Bungee", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000;
}

.logo {
	width: 119px;
	height: 137px;
	margin-top: 15px;
}

.active {
	text-decoration: underline red;
	color: #000;
}

.search-bar {
	width: 97%;
	height: 40px;
	background-color: #fff;
	border: #000 solid 3px;
	border-radius: 50px;
	margin-left: 3%;
	margin-top: 1.5%;
}

.search-bar::placeholder {
	color: #000;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	padding-left: 1%;
}

.search-button {
	height: 47px;
	width: 15%;
	background-color: #e51131;
	border: #000 solid 3px;
	border-radius: 50px;
	border-bottom-left-radius: 0%;
	border-top-left-radius: 0%;
	position: relative;
	top: -47px;
	left: 86%;
	color: #fff;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
}

.flex {
	display: flex;
}

.list-style-none {
	list-style: none;
}

.inline-block {
	display: inline-block;
	margin-top: 2.5%;
}

.space-between {
	justify-content: space-between;
}

.width-100 {
	width: 100%;
}

.center {
	text-align: center;
}

hr {
	border: 2px solid #000;
}

.projects-wrapper {
	margin: 40px 0;
}

.projects-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
	font-family: "Helvetica Neue", sans-serif;
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.project-card {
	width: 100%;
	border-radius: 12px;
	overflow: hidden;
	text-align: left;
}

.project-image {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.project-title {
	font-weight: bold;
	font-size: 14px;
	margin-top: 8px;
	padding: 0 8px;
	font-family: "Helvetica Neue", sans-serif;
}

.project-author {
	font-size: 12px;
	color: #555;
	padding: 0 8px 10px;
	font-family: "Helvetica Neue", sans-serif;
}

.all-projects-button {
	background-color: #e51131;
	color: #fff;
	border: none;
	border-radius: 50px;
	padding: 10px 20px;
	font-size: 16px;
	font-family: "Bungee", sans-serif;
	margin-top: 20px;
	text-align: center;
	align-items: center;
}

.link-no-styling {
	text-decoration: none;
	color: #000;
}

.footer-section {
	background-color: #fff;
	width: 100vw;
	padding: 20px 152px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.footer-left {
	max-width: 60%;
}

.footer-title {
	font-family: "Bungee", sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.footer-description {
	font-size: 14px;
	color: #333;
	font-family: "Helvetica Neue", sans-serif;
}

.footer-links ul {
	padding-left: 0;
	font-family: "Helvetica Neue", sans-serif;
}

.footer-links li {
	margin-bottom: 4px;
}
