body.parallax-body {
	background-color: #e7e2c7;
	background-image: url(./assets/parchment.png);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* SCENE 1*/
.scene-title {
	font-family: "Annie Use Your Telescope", sans-serif;
	font-size: 100pt;
	text-align: center;
	text-transform: uppercase;
}

.scene-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.twigs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.beldam {
	position: absolute;
	top: 5%;
	left: 22%;
	transform: translateX(-50%);
	width: 55%;
	z-index: 1;
	transform-origin: bottom center;
}

.house {
	position: absolute;
	bottom: 0;
	left: 25%;
	transform: translateX(-50%);
	width: 50%;
	z-index: 2;
	transform-origin: bottom center;
}

/* SCENE2 */
.scene2-house {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 1;
}

.scene2-coraline {
	position: absolute;
	left: 20%;
	bottom: 0;
	width: 15%;
	z-index: 3;
}

.scene2-father {
	position: absolute;
	left: 43%;
	bottom: 25%;
	width: 6%;
	transform: translateX(-50%);
	z-index: 4;
}

.scene2-car {
	position: absolute;
	right: 15%;
	bottom: 0;
	width: 25%;
	z-index: 2;
}

.scene-text {
	font-family: "Annie Use Your Telescope", sans-serif;
	font-size: 18pt;
	z-index: 9999;
	color: black;
}

.scene2-text {
	position: absolute;
	bottom: 80%;
	left: 5%;
}

/* SCENE 3 */

.door-portal {
	margin-top: 10%;
}

.portal {
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translateX(-50%);
	width: 17%;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.portal:hover {
	opacity: 1;
	pointer-events: auto;
}

.scene3-text {
	position: absolute;
	bottom: 60%;
	left: 5%;
}

.portal-hover-text {
	position: absolute;
	bottom: 60%;
	right: 5%;
	opacity: 0;
	animation: fadeInText 1s ease forwards;
}

@keyframes fadeInText {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* SCENE 4 */

.scene4-text {
	position: absolute;
	bottom: 87%;
	left: 40%;
}

.scene4-text2 {
	position: absolute;
	bottom: 10%;
	left: 36%;
}

.scene4-portraits {
	padding-top: 10%;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

.scene4-portrait {
	width: 30%;
	height: 50%;
}

/* SCENE 5 */

.scene5-text {
	position: absolute;
	bottom: 85%;
	left: 37%;
}

.scene5-coraline {
	position: absolute;
	left: 20%;
	bottom: 0;
	width: 60%;
	z-index: 3;
}

.creepy {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.creepy:hover {
	opacity: 1;
	pointer-events: auto;
}

/* SCENE 6 */

.scene6-text {
	position: absolute;
	bottom: 87%;
	left: 25%;
	background-color: #e7e2c7;
	border: 2px solid #000;
	padding: 0px 5px;
	text-align: center;
	border-radius: 5px;
}

.scene6-doors {
	width: 110%;
	position: absolute;
	left: -5%;
	overflow-y: hidden;
	height: 100%;
}

.parents {
	position: absolute;
	bottom: 10%;
	left: 70%;
	/* left door: left: 30%; */
	/* middle door: left: 49%;
	bottom: 18%; */
	transform: translateX(-50%);
	width: 11%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.parents:hover {
	opacity: 1;
	pointer-events: auto;
}

.beldam-shadow {
	position: absolute;
	left: 27.2%;
	bottom: -10%;
	transform: translateX(-50%);
	height: 90%;
	z-index: 2;
}

/* SCENE 7 */

.end-scene {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	z-index: 1;
}

.scene7-text {
	position: absolute;
	bottom: 85%;
	left: 25%;
	text-align: center;
}
