body.parallax-body {
	background-color: #e7e2c7;
	background-image: url(./assets/parchment.png);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* SCENE 1*/
.scene-title {
	font-family: "Annie Use Your Telescope", sans-serif;
	font-size: 100pt;
	text-align: center;
	text-transform: uppercase;
}

.scene-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.twigs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.beldam {
	position: absolute;
	top: 5%;
	left: 22%;
	transform: translateX(-50%);
	width: 55%;
	z-index: 1;
	transform-origin: bottom center;
}

.house {
	position: absolute;
	bottom: 0;
	left: 25%;
	transform: translateX(-50%);
	width: 50%;
	z-index: 2;
	transform-origin: bottom center;
}

/* SCENE2 */
.scene2-house {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 1;
}

.scene2-coraline {
	position: absolute;
	left: 20%;
	bottom: 0;
	width: 15%;
	z-index: 3;
}

.scene2-father {
	position: absolute;
	left: 43%;
	bottom: 25%;
	width: 6%;
	transform: translateX(-50%);
	z-index: 4;
}

.scene2-car {
	position: absolute;
	right: 15%;
	bottom: 0;
	width: 25%;
	z-index: 2;
}

.scene-text {
	font-family: "Annie Use Your Telescope", sans-serif;
	font-size: 16pt;
	z-index: 9999;
	color: black;
}

.scene2-text {
	position: absolute;
	bottom: 80%;
	left: 5%;
}

/* SCENE 3 */

.door-portal {
	margin-top: 10%;
}

.portal {
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translateX(-50%);
	width: 17%;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.portal:hover {
	opacity: 1;
	pointer-events: auto;
}

.scene3-text {
	position: absolute;
	bottom: 60%;
	left: 5%;
}

.portal-hover-text {
	position: absolute;
	bottom: 60%;
	right: 5%;
	opacity: 0;
	animation: fadeInText 1s ease forwards;
}

@keyframes fadeInText {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
