body.parallax-body {
	background-color: #e7e2c7;
	background-image: none;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.scene-title {
	font-family: "Annie Use Your Telescope", sans-serif;
	font-size: 100pt;
	font-weight: light;
	text-align: center;
	text-transform: uppercase;
}

.scene-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.twigs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
	z-index: 3;
}

.beldam {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: 55%;
	z-index: 1;
}

.house {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	z-index: 2;
}
